
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class='txtretroshadow'>Trang Admin Bán Vé Chuyến Bay</h1>
<img src="~/Areas/Admin/Assets/img/air-2640661_1280.png" style="width:1000px;height:500px" />
<style>
    .txtretroshadow {
        text-align: center;
        font-size: 50px;
        color: red;
        background-color: #d5d5d5;
        letter-spacing: .05em;
        text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
        height: 100px;
        padding-top: 40px;
    }
</style>